
/* GERAL*/
*{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
 }
 
body, html{
    margin:0;
    padding: 0;
}

.cor-fundo{
    background-color: #f2f2f2;
}

/* FAIXA CINZA*/
.faixa-cinza{
    background-color: #2A2A2A;
    width: 100%;
    height: 127px;
}

/* BLOCO CENTRAL */
.bloco-central{
    width: 1100px;
    height: 95%;
    margin: auto;
    margin-top: -117px;
    background-color: #fffefe;
}

.sombra{
    box-shadow: 0px 0px 23px #0000003d;
}

/* Lados Direito e Esquerdo */
.lado-e{
    width: calc(30% - 2px);
    height:100%;
    float: left;
    overflow-y: auto;
    border-right: 2px solid #d0d0d0;
}

.lado-d{
    width: 70%;
    height: 100%;
    float: left;
    background-color: #f8f9fb
}

.lista{
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.lista li{
    padding: 9px 15px;
    overflow: hidden;
}

.lista-conversas{
    height: calc(100% - 145px);
}

/*LATERAL ESQUERDA SUPERIOR */
.imagem-pessoa{
    width:45px;
    height: 45px;
    border-radius:25px;
    float:left;
}

.cinza-1{
    background-color: #ededed;
}

.cinza-2{
    background-color: #f6f6f6;
}

.icone-sup{
    width: 20px;
    height: 20px;
    margin: 10px;
    float: right;
}

.template-conversa{
    background-color: #e5ddd5;
    /* display: none; */
}

.input-search{
    width: 100%;
    border: none;
    padding: 10px;
}

/*CONVERSAS LADO ESQUERDO*/
.lista-conversas li{
    overflow: hidden;
    background-color:white;
    border-top: 1px solid #ece9e9;
}

.lista-conversas li .bloco-lateral{
    width: 45px;
    float: left;
    font-size:13px;
    text-align: right;
}

.lista-conversas li .bloco-conversa{
    width: calc(100% - 105px);
    float: left;
    font-size: 13px;
    line-height: 0.3;
    padding-top: 6px;
    padding-left: 15px;
    white-space: nowrap;
    overflow: hidden;
}

/*LATERAL DIREITA */
.tela-default{
    text-align: center;
    width: 450px;
    margin: auto;
    margin-top: 50px;
    display: none;
}

/*CONVERSAS LADO DIREITO*/
.bloco-pessoa-conversa{
    line-height: 0.4;
    float: left;
    margin-top: 9px;
    margin-left: 15px;
    font-size: 14px;
}

.icone-conversa-sup{
    width: 20px;
    height: 20px;
    margin: 10px;
    float: right;
}

.lista-mensagens-conversa{
    height: calc(100% - 141px);
    overflow-y: scroll !important;
    background-image: url(../img/bg-chat-tile-light-2.png);
}

.mensagem{
    background-color: white;
    width: max-content;
    padding: 9px;
    border-radius: 0px 10px 10px 10px;
    font-size: 13px;
}

.minha-msg{
    background-color: #dcf8c6;
    width: max-content;
    padding: 9px;
    border-radius: 10px 0px 10px 10px;
    float: right;
    font-size: 13px;
}

.mensagem .hora, .minha-msg .hora{
    width: 100%;
    font-size: 11px;
    color: gray;;
    text-align: right;
    margin-top: 5px;
}

.icone-bot-conv{
    width: 20px;
    height: 20px;
    margin: 10px;
    float: left;
}

.input-send-search{
    width: calc(100% - 121px);
    border: none;
    padding: 10px;
    float: left;
}

/* inicio da responsividade */

@media(min-width:769px) and (max-width:1024px){
    

    /* lado direito */
    .mensagem .hora, .minha-msg .hora{
        font-size: 16px;
    }

    .minha-msg{
        font-size: 16px;
    }

    .mensagem{
        font-size: 16px;
        transition: 0.3s ease;
    }

    .bloco-pessoa-conversa{
        line-height: 0.4;
        float: left;
        margin-top: 9px;
        margin-left: 15px;
        font-size: 14px;
    }

    .lista-conversas li .bloco-lateral{
        font-size:18px;
        transition: 0.3s;
    }

    .lista-conversas li .bloco-conversa{
        font-size: 18px;
    }


}

@media(min-width:481px) and (max-width:768px){

.lista-conversas li .bloco-lateral{
    font-size:18px;
    transition: 0.3s;
}

.lista-conversas li .bloco-conversa{
    font-size: 18px;
}
}

@media(min-width:320px) and (max-width:480px) {
    .lado-d { 
         display: none;    
}

    .lista-conversas li .bloco-lateral{
        font-size:18px;
        transition: 0.3s;
}

}